<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
  </head>
<h1>Tamagotchi!</h1>
<p><a href="/new-friend">Start new Tamagotchi</a></p>
