
<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
  </head>
  <body id="dead">
    <div class="container">
    <img src="/Content/img/dead.gif">
    <br><br>
    <h1>You fiend! You let your cute little pet die :(<h1>
    </div>
  </body>
</html>
