
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="/Content/css/styles.css" type="text/css"><form action="/new-friend" method="post">
  <div class="container">

  <form class="form-control">
    <label for='name'>Your New Friend's name is: </label>
    <input id='name' name='name' type='text'>


    <button type='submit' class="btn">Bring to life!</button>
  </form>
</div>
